<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yunding.website.mapper.WorkMapper">

    <!--上传文件-->
    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="workId"
            keyColumn="work_id"
            parameterType="cn.yunding.website.entity.Work">
         insert into w_work(
         `work_name`,
          `work_content`,
          `work_introduce`,
          `work_url`,
          `work_image`,
          `work_sender`,
          `work_created_at`,
          `work_updated_at`
         ) values
         (
         #{workName},
         #{workContent},
         #{workIntroduce},
         #{workUrl},
         #{workImage},
         #{workSender},
         #{workCreatedAt},
         #{workUpdatedAt})
    </insert>

    <!--删除作品-->
    <delete id="deleteWorks"
            parameterType="cn.yunding.website.entity.Work">
        update w_work set permission=#{permission} where work_id=#{workId}
    </delete>

    <!--修改作品-->
    <update id="updateWorks" parameterType="cn.yunding.website.entity.Work">
        update w_work
        <set>
            <if test="workName!=null">work_name=#{workName},</if>
            <if test="workContent!=null">work_content=#{workContent},</if>
            <if test="workIntroduce!=null">work_introduce=#{workIntroduce},</if>
            <if test="workUrl!=null">work_url=#{workUrl},</if>
            <if test="workImage!=null">work_image=#{workImage},</if>
            <if test="workSender!=null">work_sender=#{workSender},</if>
            <if test="workUpdatedAt!=null">work_updated_at=#{workUpdatedAt},</if>
            <if test="permission!=null">permission=#{permission}</if>
        </set>
        where work_id=#{workId}
    </update>

    <!--查询全部作品-->
    <select id="selectAll"
            resultType="cn.yunding.website.entity.Work">
        select * from w_work where permission=1
    </select>

    <!--分页查询作品-->
    <!--查询works总数-->
    <select id="getWorksSum" resultType="java.lang.Integer">
        select count(*) from w_work where permission=1;
    </select>

    <!--获取指定页的作品列表-->
    <select id="getWorksByPageNum" resultType="cn.yunding.website.entity.Work">
        select work_id,work_name,work_introduce,work_image from w_work where permission=1 LIMIT #{beginIndex},#{limit}
    </select>

    <!--查询作品-->
    <select id="selectById" parameterType="java.lang.Integer" resultType="cn.yunding.website.entity.Work">
        select * from w_work where work_id=#{workId}
    </select>
</mapper>